#WB Standard ignore files and folders (WB User Guide)
linkSyms.c
Makefile
Makefile.mk
prjComps.h
prjConfig.c
prjParams.h
default/
.metadata/

#Ignore all files except the 9 files for build
config/*
dkm/*
krnl/*
mk/*
share/*
usr/*
tcl/*
tcInfo/*
vsbl/*
vsblh/*
vsblCdf/
h/*/*
!h/config/auto.conf
!h/security/*
.settings/*
cleanList.mk
creation.log
scgdefs.tcl
vsb_defs.mk
vsb.AllAvailableLayers
vsb.config.old
vsb.vxconfig
vsbdefs.tcl

#ignore binary files
*.o
*.obj
*.vxe
*.a
*.ace
*.bin
*.com
*.dll
*.elf
*.exe
*.hex
*.ko
*.lib
*.out
*.pm
*.pxe
*.reloc
*.romfs
*.rtl
*.sho
*.sm
*.so
*.st
*.sym

vsb_vxsim_linux_SIMLINUXllvm_LP64_LARGE_SMP/
.settings
.cproject
.project
.wrmakefile
.wrproject
